---
import { Icon } from "astro-icon";
import Layout from "@/layouts/Layout.astro";
import PlayButton from "@/components/PlayButton.astro";
import kannada from "@/data/kannada.json";
import Select from "@/components/Select.astro";
import VerseSection from "@/components/VerseSection.astro";

export function getStaticPaths() {
  return kannada.flatMap((book) =>
    book.chapters.map((_, i) => ({
      params: {
        bible: "kannada",
        book: book.slug,
        chapter: i + 1,
      },
    }))
  );
}

const { bible, book, chapter } = Astro.params;
const books = kannada;
const selectedBook = books.find((b) => b.slug == book);
const selectedChapter = parseInt(chapter);
const verses = selectedBook.chapters[selectedChapter - 1];
---

<style>
  .container {
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: white;
  }

  @media (min-width: 640px) {
    .container {
      margin-left: 18%;
      margin-right: 18%;
    }
  }

  .full {
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }

  .row {
    display: flex;
  }

  .books-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    margin-left: 0.5rem;
  }

  .book-item {
    text-align: left;
    padding: 0.25rem;

    &:hover {
      background-color: rgba(229, 231, 235, 1);
    }
  }

  .title-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .menu {
    flex: 1;
  }

  .actionsContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
  }

  hr.first {
    background-color: black;
    height: 2px;
  }

  hr.last {
    background-color: black;
    height: 2px;
    margin-bottom: 0.4rem;
  }
</style>
<Layout title={`Bible App ${bible} - ${book}`}>
  <div class="container">
    <div class="full row">
        <!-- <div class="books-section">
          {
            books.map((b) => (
              <a class="book-item shadow" href={`/bibles/kannada/${b.slug}/1`}>
                {b.name}
              </a>
            ))
          }
        </div> -->
      <div
        class="w-auto flex flex-1 flex-col p-0 ml-0 sm:px-4 sm:ml-2"
      >
        <div class="title-container">
          <div class="menu">
            <h1 class="title shadow">{selectedBook.name} {selectedChapter}</h1>
          </div>
          <div class="actionsContainer">
            <PlayButton verses={verses} />
          </div>
          <Select index={parseInt(chapter)} size={selectedBook.chapters.length} />
        </div>
        <hr class="first" />
        <VerseSection verses={verses} />
        <hr class="last" />
      </div>
    </div>
  </div>
</Layout>
