---
import fs from "fs";
import { Icon } from "astro-icon";
import Layout from "@/layouts/Layout.astro";
import PlayButton from "@/components/PlayButton.astro";
import books from "@/data/books.json";
import Select from "@/components/Select.astro";
import VerseSection from "@/components/VerseSection.astro";

export function getStaticPaths() {
  const arr = fs.readFileSync("./src/data/new_kannada.csv", "utf-8").split("\n").map((v) => v.split("|"));
  const data = arr.reduce((acc, item) => {
    const book = parseInt(item[0]);
    const chapter = parseInt(item[1]);
    const index = book + (chapter-1);
    if (!acc[index]) {
      acc[index] = {
        params: {
          bible: "kannada",
          book,
          chapter,
        }
      }
    }
    return acc
  }, {});
  return Object.keys(data).map((k) => data[k])
}

const { bible, book, chapter } = Astro.params;
const bookName = books[book].en
const arr = fs.readFileSync("./src/data/new_kannada.csv", "utf-8").split("\n").map((v) => v.split("|"));
const verses = arr.reduce((acc, item) => {
  const bookIdx = parseInt(item[0]);
  const chapterIdx = parseInt(item[1]);
  if (bookIdx === parseInt(book) && chapterIdx === parseInt(chapter)) {
    acc.push([item[3], parseFloat(item[4]), parseFloat(item[5])]);
  }
  return acc
}, []);
---

<style>
  .container {
    display: flex;
    height: 100%;
    background: white;
    /* margin-left: 12%; */
    /* margin-right: 12%; */

    @media (min-width: 640px) {
      background: #FBF8F7;
    }
  }

  .img {
    width: 400px;
  }

  .bookmark {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #4C2323;
    border-left: 20px solid #3C1B1C;
    /* border-radius: 50px; */
    /* @media (min-width: 640px) {
      padding: 40px 60px;
      margin: 32px 0px 21px 32px;
    } */
  }

  .streak {
    background: #4C2323;
    width: 10px;
  }

  .abbr {
    /* position: absolute;
    top: 50%;
    left: 15%;
    height: 15%;
    width: 60%; */
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    word-break: break-all;
    color: #A98B8B;
    /* color: #FFB341; */
    /* transform-origin: bottom left; */
    /* transform: rotate(-90deg); */
  }

  .abbr:first-child {
    margin-top: 10px;
  }

  .work {
    display: flex;
    flex: 1;
    /* height: calc(100% - 7px); */
    /* margin-left: 8px; */
    /* margin-right: 8px; */
    padding: 0px;
    background: white;

    @media (min-width: 640px) {
      padding: 0px 20px;
      /* padding: 40px 60px; */
      /* margin: 32px 32px 21px 0px; */
      border: 1px solid #dddcda;
    }
  }

  .page {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    padding: 0px;
    height: 100%;
    /* w-auto flex flex-1 flex-col p-0 ml-0 sm:px-4 sm:ml-2 */
  }

  .books-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    margin-left: 0.5rem;
  }

  .book-item {
    text-align: left;
    padding: 0.25rem;

    &:hover {
      background-color: rgba(229, 231, 235, 1);
    }
  }

  .title-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .actionsContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
  }

  hr.first {
    background-color: black;
    height: 2px;
  }

  hr.last {
    background-color: black;
    height: 2px;
    margin-bottom: 0.4rem;
  }
</style>
<Layout title={`Bible App Kannada - ${book}`}>
  <div class="container">
    <Icon name="skin" />
    <!-- <div class="streak" />
    <div class="bookmark">
      <span class="abbr">KANNADA</span>
      <span class="abbr">BIBLE</span>
    </div> -->
    <div class="work">
      <div class="page">
        <div class="title-container">
            <Select book={bookName} chapter={chapter} />
          <div class="actionsContainer">
            <PlayButton verses={verses} />
          </div>
        </div>
        <hr class="first" />
        <VerseSection chapter={chapter} verses={verses} />
        <hr class="last" />
      </div>
    </div>
  </div>
</Layout>
