---
import { Icon } from "astro-icon";
import Layout from "@/layouts/Layout.astro";
import PlayButton from "@/components/PlayButton.astro";
import kannada from "@/data/kannada.json";
import Select from "@/components/Select.astro";
import VerseSection from "@/components/VerseSection.astro";

export function getStaticPaths() {
  return kannada.flatMap((book) =>
    book.chapters.map((_, i) => ({
      params: {
        bible: "kannada",
        book: book.slug,
        chapter: i + 1,
      },
    }))
  );
}

const { bible, book, chapter } = Astro.params;
const books = kannada;
const selectedBook = books.find((b) => b.slug == book);
const selectedChapter = parseInt(chapter);
const verses = selectedBook.chapters[selectedChapter - 1];
---

<style>
  .container {
    height: 100%;
  }

  .full {
    height: 100%;
    width: 100%;
  }

  .row {
    display: flex;
  }

  .books-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    margin-left: 0.5rem;
  }

  .book-item {
    text-align: left;
    padding: 0.25rem;

    &:hover {
      background-color: rgba(229, 231, 235, 1);
    }
  }

  .title-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
  }

  .menu {
    flex: 1;
  }

  .actionsContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
  }

  h3 {
    margin-right: 0.5rem;
  }

  hr {
    background-color: black;
    height: 2px;
  }
</style>
<Layout title={`Bible App ${bible} - ${book}`}>
  <div class="container">
    <div class="full row">
      <div
        class="h-full overflow-y-auto w-5/6 sm:w-auto flex bg-gray-100 border-r border-bibleborder"
      >
        <div class="books-section">
          {
            books.map((b) => (
              <a class="book-item" href={`/bibles/kannada/${b.slug}/1`}>
                {b.name}
              </a>
            ))
          }
        </div>
      </div>
      <div
        class="w-1/6 sm:w-auto flex flex-1 flex-col p-0 ml-0 sm:px-4 sm:ml-2"
      >
        <div class="title-container">
          <div class="menu">
            <button class="sm:hidden mr-2" @click="openDrawer()">
              <Icon name="mdi:hamburger-menu" size={36} />
            </button>
            <h1 class="title">{selectedBook.name} {selectedChapter}</h1>
          </div>
          <div class="actionsContainer">
            <PlayButton verses={verses} />
          </div>
          <h3>Chapter:</h3>
          <Select>
            {
              selectedBook.chapters.map((_, i) => (
                <option
                  selected={
                    parseInt(chapter) === i + 1 ? `selected` : undefined
                  }
                  value={`/bibles/${bible}/${selectedBook.slug}/${i + 1}`}
                >
                  {i + 1}
                </option>
              ))
            }
          </Select>
        </div>
        <hr />
        <VerseSection verses={verses} />
      </div>
    </div>
  </div>
</Layout>
